<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='wyait后台管理'">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!--头-->
        <div th:replace="fragments/head :: header"></div>
        <!--主体区域-->
        <!-- <div class="layui-body" th:include="channel/channelImport :: authorize"></div> -->
        <!--<div th:include="channel/body :: body"></div>-->

        <div class="layui-body">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-xs9">
                        <h2 style="padding-top:10px;line-height:2.0;text-align: center;"><span style="color: #138a72"><shiro:principal property="rolename"></shiro:principal></span>，欢迎您登录
                            <a href="http://blog.51cto.com/wyait"><span>仓库管理系统</span></a></h2>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/error.js"></script>
        <!--底部-->
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>