<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='wyait后台管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <!--主体区域-->
    <!-- <div class="layui-body" th:include="channel/channelImport :: authorize"></div> -->
    <!--<div th:include="channel/body :: body"></div>-->

    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div style=" background:#D0D0D0; color:#FFF; width:auto; margin-top:50px; font-size: 25px; height: auto "
                     align="center">
                    <div>
                        <h6>生产管理_生产退料</h6>
                    </div>
                    <form action="/produce/testMaterialsReturn" method="post">
                        <div style="margin-top:20px;">
                            <table>
                                <tr>
                                    <td>单&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="oddNo"
                                                                          th:value="${produceManagement.oddNo}"
                                                                          readonly="readonly"></input>
                                    </td>
                                    <td>材料名称：<input type="text" th:value="${produceManagement.materialName}"
                                                    name="materialName"
                                                    readonly="readonly"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>单&nbsp;&nbsp;&nbsp;&nbsp;位：<input type="text" name="unit"
                                                                          th:value="${produceManagement.unit}"
                                                                          readonly="readonly"></input>
                                    </td>
                                    <td>领料主管：<input type="text" th:value="${produceManagement.pickingCompetent}"
                                                    name="pickingCompetent"
                                                    readonly="readonly"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>数&nbsp;&nbsp;&nbsp;&nbsp;量：<input type="number" required="required"
                                                                          name="quantity"
                                                                          AUTOCOMPLETE="OFF"></input>
                                    </td>
                                    <td>领&nbsp;&nbsp;料&nbsp;&nbsp;人：<input type="text"
                                                                           th:value="${produceManagement.pickingMan}"
                                                                           name="pickingMan"
                                                                           readonly="readonly"
                                    ></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>日&nbsp;&nbsp;&nbsp;&nbsp;期：<input type="date" name="data" required="required"
                                                                          AUTOCOMPLETE="OFF"></input>
                                    </td>
                                    <td>提&nbsp;&nbsp;货&nbsp;&nbsp;人：<input type="text"
                                                                           th:value="${produceManagement.consignee}"
                                                                           name="consignee"
                                                                           readonly="readonly"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>备&nbsp;&nbsp;&nbsp;&nbsp;注：<select name="remark">
                                        <option selected="selected">请选择</option>
                                        <option th:value="1">退料</option>
                                    </select>
                                    </td>
                                    <td>资&nbsp;&nbsp;材&nbsp;&nbsp;部：<input type="text" readonly="readonly"
                                                                           name="propertyDepartment"
                                                                           th:value="${produceManagement.propertyDepartment}"
                                    ></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>部门名称：<input type="text" name="depName" th:value="${produceManagement.depName}"
                                                    readonly="readonly"></input>
                                    </td>
                                    <td>产线名称：<input type="text" name="depLine" th:value="${produceManagement.depLine}"
                                                    readonly="readonly"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>退料原因:<input type="text" name="reasonForReturn" required="required"
                                                    AUTOCOMPLETE="OFF"></input>
                                    </td>
                                    <td><input type="submit" value="确认退料"></input></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>